/* *{
    background-color: rgb(75, 110, 126);
} */
.cards-list {
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }



/*  */


.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  grid-gap: 20px;
}

.card {
  display: grid;
  grid-template-rows: max-content 200px 1fr;
}

.card img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
  
/*  */
div.register_now {
  position: relative;
}
div.register_now a{
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%,0);
  background-color: #0891f8;
  padding: 7px 20px;
  font-size: 20px;
  color: white;
  border-radius: 5px;
}

div.register_now h3{
  bottom: 0;
  left: 50%;
  transform: translate(-50%,0);
  font-size: 20px;
  color: #0891f8;
}

@media screen and (min-width:1300px) {
  div.after638{
    display: none;
  }
}
@media screen and (max-width:1300px) {
  div.before1300{
    display: none;
  }
}
  
  .card {
    text-align: center;
    margin: 30px auto;
    width: 300px;
    height: 300px;
    border-radius: 60px;
    box-shadow: 2px 2px 3px 1px #0891f8, -1px -1px 3px 1px #0891f8!important;
    transition: 0.4s;
  }
  
  .card .card_image {
    width: inherit;
    height: inherit;
    border-radius: 40px;
  }
  
  .card .card_image img {
    width: inherit;
    height: inherit;
    border-radius: 40px;
    object-fit: cover;
  }
  
  .card .card_title {
    text-align: center;
    border-radius: 0px 0px 40px 40px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-top: -350px;
    height: 40px;
    opacity: 0.9;
  }
  .title-white {
    color: white;
  }
  
  .title-black {
    color: black;
  }
  
  @media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }